@{
    ViewData["Title"] = "About - FIRAT EF BARKOD";
}

<div class="text-center">
    <h1 class="display-4">FIRAT EF BARKOD</h1>
    <p>Version 1.0.0.0</p>
    <p>Copyright &copy; 2023</p>
    <p>FIRAT PLASTIK</p>
    <p>Elektro füzyon kaynak parametrelerini içeren barkodu oluşturur.</p>
</div>
