html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
a:hover{
    text-decoration:underline;
    text-underline-offset: 5px;
}
.footer {
    background-color: #231f20 !important;
}
.footer .container {
    color:white !important;
    display:flex;
    justify-content:center;
}
    .footer .container a {
        color: #ec6d00 !important;
    }
/*#form {
    margin-bottom:10px;
}*/
.row {
    background-color: rgb(255 255 255 / 70%);
    box-shadow: 0 0 70px 20px rgb(255 255 255);
}
form {
    background-color: rgb(255 255 255);
    border-radius: 10px;
}
body {
    margin-bottom: 60px;
    background-color: #ec6d00;
}
.col-md-3 {
    float: left;
    margin: 5px 5px 5px 0;
    width: 32%;
    padding: 15px;
}

.form-group {
    margin: 10px 0;
    display:flex;
    text-align:center;
}

.col-md-12 {
    float: left;
    margin-top:2%;
}
.navbar {
    background-color: #231f20 !important;
    justify-content:center;
    display:grid;
}
.text-dark{
    color:white !important;
}
.form-control {
    width:75%;
    margin:auto;
}
span{
    display:flex;
    justify-content:center;
}
label {
    width:24%;
/*    line-height:38px;*/
}
.barcode {
    font-family: 'Interleaved 2of5 Regular';
}
/*.img-thumbnail{
    height:100px;
}*/
